.Popup {
  &.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    cursor: pointer;

    .content {
      cursor: default;
      width: 100%;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: opacity 0.5s ease-out;
      z-index: -1;
    }
  }
}
